<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Prodaja</title>
    <link rel="stylesheet" href="style.css">
    <style>.ProdajaCss{
  display: flex;
  background-color: #F5E8C7;
}

.Pica{
  background-color: #7FC8A9;
  margin-left: 50px;
  border-radius: 20px;
}

.Grickalice{
  border-radius: 20px;
  margin-left: 50px;
  background-color: #D5EEBB;
}
.DuhanskiProizvodi{
  border-radius: 20px;
  margin-left: 50px;
  background-color: #5F7A61;
}
.Derivati{
  border-radius: 20px;
  margin-left: 50px;
  background-color: #444941;
}

.button{
  margin-right: 20px;
}
.Unos{
  margin-left: 20px;
}
.Artikl{
  background-color: #334756;
}</style>
  </head>
  <body class="ProdajaCss">



      <div class="Pica">
        <h1 class="Artikl">Pića</h1>
        <form action="/sokoviProdaja" method="post">
          <h4 class="Naslov_Artikla">Prodano sokova:</h4>
          <input class="Unos" type="text" name="prodanoSokova">
          <button class="button" type="submit" name="button">Potvrdi</button>
        </form>
        <form class="" action="/alkoholProdaja" method="post">
          <h4 class="Naslov_Artikla">Prodano alkohola:</h4>
          <input class="Unos" type="text" name="Prodano_Alkohola" value="">
          <button class="button" type="submit" name="button">Potvrdi</button>
        </form>

      <form  action="/vodaProdaja" method="post">
        <h4 class="Naslov_Artikla">Prodano vode:</h4>
        <input class="Unos" type="text" name="Prodano_Vode" value="">
        <button class="button" type="submit" name="button">Potvrdi</button>
      </form>

      </div>



  <div class="Grickalice">

    <h1 class="Artikl">Gricaklice</h1>

    <form action="/cipsProdaja" method="post">
      <h4 class="Naslov_Artikla">Prodano cipsa:</h4>
      <input class="Unos" type="text" name="Prodano_Cipsa" value="">
      <button class="button" type="submit" name="button">Potvrdi</button>
    </form>

    <form  action="/smokiProdaja" method="post">
      <h4 class="Naslov_Artikla">Prodano smokija:</h4>
      <input class="Unos" type="text" name="Prodano_Smokija" value="">
      <button class="button" type="submit" name="button">Potvrdi</button>
    </form>


  <form  action="/stapiciProdaja" method="post">
    <h4 class="Naslov_Artikla">Prodano stapica:</h4>
    <input class="Unos" type="text" name="Prodano_Stapica" value="">
    <button class="button" type="submit" name="button">Potvrdi</button>
  </form>

    <form  action="/keksiProdaja" method="post">
      <h4 class="Naslov_Artikla">Prodano keksa:</h4>
      <input class="Unos" type="text" name="Prodano_Keksa" value="">
      <button class="button" type="submit" name="button">Potvrdi</button>
    </form>



  </div>




  <div class="DuhanskiProizvodi">
    <h1 class="Artikl">Duhanski proizvodi</h1>

    <form  action="/cigareteProdaja" method="post">
      <h4 class="Naslov_Artikla">Prodano cigareta:</h4>
      <input class="Unos" type="text" name="Prodano_Cigareta" value="">
      <button class="button" type="submit" name="button">Potvrdi</button>
    </form>


    <form  action="/duhanProdaja" method="post">
      <h4 class="Naslov_Artikla">Prodano duhana:</h4>
      <input class="Unos" type="text" name="Prodano_Duhana" value="">
      <button class="button" type="submit" name="button">Potvrdi</button>
    </form>


    <form  action="/filteriProdaja" method="post">
      <h4 class="Naslov_Artikla">Prodano filtera:</h4>
      <input class="Unos" type="text" name="Prodano_Filtera" value="">
      <button class="button" type="submit" name="button">Potvrdi</button>
    </form>



  </div>



  <div class="Derivati">
    <h1 class="Artikl">Derivati</h1>

    <form  action="/benzinProdaja" method="post">
      <h4 class="Naslov_Artikla">Prodano benzina:</h4>
      <input class="Unos" type="text" name="Prodano_Benzin" value="">
      <button class="button" type="submit" name="button">Potvrdi</button>

    </form>


    <form  action="/diselProdaja" method="post">
      <h4 class="Naslov_Artikla">Prodano disela:</h4>
      <input class="Unos" type="text" name="Prodano_Disel" value="">
      <button class="button" type="submit" name="button">Potvrdi</button>
    </form>



    <form  action="/plinProdaja" method="post">
      <h4 class="Naslov_Artikla">Prodano plina:</h4>
      <input class="Unos" type="text" name="Prodano_Plin" value="">
      <button class="button" type="submit" name="button">Potvrdi</button>
    </form>

    <form  action="/unpProdaja" method="post">
      <h4 class="Naslov_Artikla">Prodano UNP boca:</h4>
      <input class="Unos" type="text" name="Prodano_UNP" value="">
      <button class="button" type="submit" name="button">Potvrdi</button>
    </form>

  </div>



  </body>
</html>
